In [2]:
print("Twinkle twinkle little star\n \thow i wonder what you are\n \t\t up above the world so high\n \t\t like a diamond in the sky \ntwinkle twinkle little star\n \t how i wonder what you are")

Twinkle twinkle little star
 	how i wonder what you are
 		 up above the world so high
 		 like a diamond in the sky
twinkle twinkle little star
 	 how i wonder what you are

In [3]:
from platform import python_version
print(python_version())

3.8.8

In [5]:
import sys
print("python version:")
print(sys.version)
print("version info:")
print(sys.version_info)

python version:
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
version info:
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [7]:
from datetime import datetime
now1=datetime.now()
today1=datetime.today()
print(now1.strftime("%Y-%m-%d   %H:%M:%S"))
print("today's date:" , today1)

2021-10-23   01:09:41
today's date: 2021-10-23 01:09:41.637050

In [8]:
from math import pi
radius=float(input("Enter the radius:"))

print("area of circle:" + str(pi*radius**2))

Enter the radius:5
area of circle:78.53981633974483

In [9]:
rad=input("enter radius")
area=3.14* (float(rad))**2
print(area)

enter radius5
78.5

In [18]:
var1=input("enter first name:")
var2=input("enter last name:")
rev_str1=''.join(reversed(var1))
rev_str2=''.join(reversed(var2))


print(rev_str2 + " " +rev_str1)

enter first name:bak
enter last name:chod
dohc kab

In [21]:
var1=input("enter first number:")
var2=input("enter second number")
summ=float(var1)+float(var2)
print(summ)

enter first number:3
enter second number3
6.0

In [27]:
name=input("enter name:")
eng=float(input("enter eng marks:"))
maths=float(input("enter eng marks:"))
urdu=float(input("enter eng marks:"))
physics=float(input("enter eng marks:"))
chem=float(input("enter eng marks:"))


obt_marks=eng+maths+urdu+physics+chem
total_marks=500
per=(obt_marks/total_marks)*100
print("Percentage:" + str(per) + "%" )
grade=""

if per==100 and per>=90:
    grade="A+"
elif per<90 and per>=80:
    grade="A"
elif  per<80 and per>=70:
    grade="B"
elif per<70 and per>=60:
    grade="C"
else:
    grade="F"

print("Grade: " + grade)

enter namemaha
enter eng marks56
enter eng marks78
enter eng marks94
enter eng marks56
enter eng marks78
Percentage:72.39999999999999%
Grade: B

In [29]:
var=int(input("enter a whole number:"))
if var%2==0:
    print("even")
else:
    print("odd")

enter a whole number:5
odd

In [31]:
list=['1','8',2545,"d,nsdjkzf" ,"a"]
str=len(list)
print(str)

5

In [38]:
list=['5' ,"kjmsd" , 454 , 4.5 ,"67"]
var=len(list)
sum=0
for i in range(var):
    if type(list[i]==int):
            sum=sum+int(list[i])
    else:
        print("string")

ValueError: invalid literal for int() with base 10: 'kjmsd'

In [42]:
list=[13,56,2,3,9,]
print(max(list))

13

In [8]:
list=[]
x=int(input("how many elements ?"))
for n in range(x):
    y=int(input("enter element"))
    list.append(y)
print("maximum elemnt in list is", max(list))

how many elements ?3
enter element4
enter element19
enter element3
maximum elemnt in list is 19

In [13]:
list=[11,2,3,5,8,14,21,55,89,50,0]
n=len(list)
for i in range(n):
    if list[i]<5:
        print(list[i])

2
3
0